@font-face {
    font-family: 'xirodregular';
    src: url('xirod-webfont.woff2') format('woff2'),
         url('xirod-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'forgottenfuturistregular';
    src: url('forgotten-futurist-webfont.woff2') format('woff2'),
         url('forgotten-futurist-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}
